extends layout

block content
  div(class='patient')
    div(class='patientName') #{patient.LastName.value}, #{patient.FirstName.value}
    div(class='patientMrn') MRN: #{patient.MRN.value}

  div(class='title')
    div #{title}

  div(class='insights')
    each insight, i in insights
      div(class="insight")
        div(class='insightName')= insight.InsightName.value
        div(class='insightDate')=moment(insight.DateCreated.value).format("MMM Do YYYY")
        div(class='insightItemContainer')
          each insightItem, i in insight.insightItems
            div(class='insightItem')
              div(class='insightItemName')= insightItem.ItemName.value
              div(class='insightItemText')!= insightItem.ItemText.value

  div(class='links')
    div
      a(href =urltocontrolledsubstancepane) Controlled Substance History