extends layout

block content
  div(class='patient')
    div(class='patientName') #{patient.LastName.value}, #{patient.FirstName.value}
    div(class='patientMrn') MRN: #{patient.MRN.value}

  div(class='controlledsubstances')
    each controlledSubstance, i in controlledSubstances
      div(class='controlledsubstance')
        div= controlledSubstance.MedicationName.value
        div= moment(controlledSubstance.DatePrescribed.value).format("MMM Do YYYY")             
        div= controlledSubstance.PrescribedByDoctor.value   

  br
