extends layout

block content
  h4= title
  p PatientId: #{patientName}

  div
    table
      thead
        tr: th Insights
      tbody
        each insight, i in insights
          tr
            td= insight.InsightText.value
            td= moment(insight.DateCreated.value).format("MMM Do YYYY")             

  br

  div
    table
      thead
        tr: th Controlled Substances
      tbody
        each controlledSubstance, i in controlledSubstances
          tr
            td= controlledSubstance.MedicationName.value
            td= moment(controlledSubstance.DatePrescribed.value).format("MMM Do YYYY")             
            td= controlledSubstance.PrescribedByDoctor.value            

  br

  div
    table
      thead
        tr: th Registries
      tbody
        each registry, i in registries
          tr
            td= registry.RegistryName.value
            td= moment(registry.DateAdded.value).format("MMM Do YYYY")             
        