extends layout

block content
  h4= title
  p Insights for #{patientName}

  ul
    for book in insights
      li= book.InsightsText.value
    else
      li No Insights for this patient    

  div
    table
      thead
        tr: th Controlled Substances
      tbody
        each controlledSubstance, i in controlledSubstances
          tr
            td= controlledSubstance.MedicationName.value
            td= moment(controlledSubstance.DatePrescribed.value).format("YYYY/MM/DD")             
            td= controlledSubstance.PrescribedByDoctor.value            