<div class="header">
	<div class="brand">
		<img src="assets/TriFlame.svg" class="tri-flame">
	</div>

	<div class="title">
		<img src="assets/MosaicTitle.svg" class="app-title">
	</div>

	<div class="link">Home</div>
	<div class="link-active">Worklists</div>
	<div class="link">Dashboards</div>
	<div class="link">Applications</div>

	<div class="user">Jeff W.</div>
</div>

<div class="subheader-container">
	<div class="subheader">
		<div class="system">Acme Healthcare System</div>
		<div class="facility">County Memorial Medical Center: ICU-CHMMC</div>
		<div class="label">Number of Patients with
			<b>Specific Risks</b> in this Unit:</div>

		<div class="right">
			<div class="primary-button">Configure</div>
			<div class="timestamp">
				<b>As of:</b> 1/12/2018 18:59
				<i>(refreshes every 12 hrs)</i>
			</div>
		</div>
	</div>
</div>

<div class="filters">
	<div class="filter-content">
		<div class="filter-item">
			<div class="item-number">2</div>
			<div class="item-name">CAUTI</div>
		</div>
		<div class="filter-selected">
			<div class="item-number">4</div>
			<div class="item-name">CLABSI</div>
		</div>
		<div class="filter-item">
			<div class="item-number">3</div>
			<div class="item-name">C.Diff</div>
		</div>
		<div class="filter-item">
			<div class="item-number">2</div>
			<div class="item-name">COPD Readmission</div>
		</div>
		<div class="filter-item">
			<div class="item-number">2</div>
			<div class="item-name">Heart Failure Readmission</div>
		</div>
		<div class="filter-item">
			<div class="item-number">2</div>
			<div class="item-name">Pressure Ulcer</div>
		</div>
	</div>
</div>

<div class="content">

	<table width="1000" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<th scope="col">Patient</th>
				<th scope="col" class="selected">Urgency&nbsp;&nbsp;&nbsp;
					<i class="fa fa-sort-amount-desc"></i>
				</th>
				<th scope="col">Relative Risk</th>
				<th scope="col">Modifiable Risk Factors</th>
				<th scope="col">Impactibility</th>
				<th scope="col">Other Risks</th>
				<th scope="col">Reviewed?</th>
			</tr>
			{{#each patients}}
			<tr class="row">
				<td>
					<div class="patient-name">
						<a href="#" title="Open in Epic">{{FacilityAccountID.value}}</a>
					</div>
					<div class="patient-info">MRN: {{FacilityAccountID.value}}
						<br>Age: {{AdmitAgeNBR.value}}</div>
				</td>
				<td>
					<b>Critical</b>
				</td>
				<td>
					<span class="risk">{{predicted_SepsisFLG.value}} &nbsp;
						<!--<i class="fa fa-sort-asc red"></i>-->
					</span>
				</td>
				<td>
					<div class="risk-factor">
						<a href="#" title="Open Flowsheet">
							{{RankedRiskFactor1DSC.value}}</a>
					</div>
					<div class="risk-factor">
						<a href="#" title="Open Flowsheet">
							{{RankedRiskFactor2DSC.value}}</a>
					</div>
					<div class="risk-factor">
						<a href="#" title="Open Flowsheet">
							{{RankedRiskFactor3DSC.value}}</a>
					</div>
				</td>
				<td>
					<div class="risk-factor">
						<b>33%</b> risk reduction</div>
					<div class="risk-factor">
						<b>17%</b> risk reduction</div>
					<div class="risk-factor">
						<b>6%</b> risk reduction</div>
				</td>
				<td>
					<a href="#" title="Open Risk Summary">3</a>
				</td>
				<td>No</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</div>